.signInFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  width: 50%;
  height: 50%;
  margin: 10% auto;
  border: none;
  border-radius: 20px;
  box-shadow: 8px 18px 24px -5px #000;
}

.signUpForm {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.inputSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.inputDiv input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.inputDiv input::placeholder {
  font-weight: 400;
  color: #000;
}
